body {
    margin: 0;
}
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(1,3,4,0.4);
    top: 0;
    padding-top: 100px;
    
}
.modal-content {
    position: relative;
    width: 80%;
    height: 220px;
    background-color: #f496f4;
    border: 1px solid #f4965f;
    box-shadow: 0 4px 8px #476e47;
    margin: auto;
}